<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>비밀번호 변경</h1>
  <form action="{% url "accounts:change_password" %}" method="POST">
    {% csrf_token %}
    {% comment %} <label for="password">
      <input type="password" id="password" name="password">
      <input type="submit" value="비밀번호 변경">
    </label> {% endcomment %}
    {{ form }}
    {% comment %} <label for="old_password">현재 비밀번호:</label>
    <input type="password" id="old_password" name="old_password">
    <label for="new_password">새 비밀번호:</label>
    <input type="password" id="new_password" name="new_password">
    <label for="new_password_confirm">새 비밀번호 확인:</label>
    <input type="password" id="new_password_confirm" name="new_password_confirm"> {% endcomment %}
    <input type="submit" value="비밀번호 변경">
  </form>
  <a href="{% url "posts:index" %}">[back]</a>
</body>
</html>