<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>회원정보 수정</h1>
  {% comment %} <ul>
    <li>username: {{ user.username}}</li>
    <li>last_login: {{ user.last_login }}</li>
    <li>date_joined: {{ user.date_joined }}</li>
  </ul>
  <h2>정보 수정하기</h2> {% endcomment %}
  <form action='{% url "accounts:update" %}' method="POST">
    {% csrf_token %}
    {{ form }}
    {% comment %} <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{ user.username }}"> {% endcomment %}
    <input type="submit" value="수정완료">
  </form>
</body>
</html>